
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  color: #323D4F;
  font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
  margin: 0;
}

body.innerFrame #wrapheader,
body.innerFrame #wrapleft,
body.innerFrame #wrapright {
  display: none;
}

#wrapheader {
  height: auto !important;
  padding: 0;
}

#logodesc {
  background-color: #C1CAD2;
  background-image: url('./images/background.gif');
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 0 25px 15px 25px;
}

#menubar {
  height: 20px;
}

.top-menu > * {
  padding: 0 5px;
}

#wrapright {
  margin: 10px 25px 0px 25px;
  background-color: #ECECEC;
  border: 2px solid #A9B8C2;
  float: right;
  width: calc(20% - 10px);
}

.download-box {
  overflow-y: auto;
  max-height: 249px;
}

body:not([class="innerFrame"]) #wrapcontent {
  background-color: #ECECEC;
  border: 2px solid #A9B8C2;
  border-left-width: 1px;
  position: absolute;
  top: 109px;
  left: calc(19% + 25px);
  bottom: 15px;
  width: calc(61% - 75px);
}

@media all and (max-width:896px) {
  #wrapright {
    display: none;
  }
  body:not([class="innerFrame"]) #wrapcontent {
    width: calc(80% - 40px);
  }
}

#wrapleft {
  background-color: #ECECEC;
  border: 2px solid #A9B8C2;
  position: absolute;
  top: 109px;
  left: 25px;
  bottom: 15px;
  width: calc(19% - 1px);
}

.topic {
  padding: 5px 20px 5px 30px;
}

.menu-body, .content-body {
  overflow: auto;
  position: absolute;
  top: 29.5px;
  height: calc(100% - 29.5px);
  width: 100%;
}

.menu-body > *:first-Child,
.content-body > *:first-Child {
  padding-top: 10px;
}

.menu-body > *:last-Child,
.content-body > *:last-Child {
  margin-bottom: 10px;
}

.has-submenu u{
  transition: background-color 0.2s linear;
}

.has-submenu:hover u, .has-submenu.is-open u {
  background-color: #ddd;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.th {
  border-bottom: 2px solid #A9B8C2;
}

/* :::: Text :::: */

h1 {
  color: black;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: none;
}

.evenbg > .topic:nth-child(even) {
  background-color: #DCE1E5;
}

.evenbg > .topic {
  border-bottom: 1px solid #A9B8C2;
}

.evenbg > .topic:nth-child(odd):last-child {
  border-bottom: none;
}

.topic {
  font-size: 1.3em;
  line-height: 1.4em;
  font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.topic > * {
  max-width: 60em;
}

.topic ol,
.topic ul,
.topic p  {
  margin-bottom: 0.6em;
}

.topic ul > li {
  padding-left: 40px;
  text-indent: -40px;
}

.evenbg > .topic ul {
  margin-bottom: 0;
}

.topic li, ol, ul {
  margin: 0 0 0 1.5em;
}

.gen {
  margin: 1px 1px;
  font-size: 1.2em;
}

.menu-body p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.menu-body > .changelog p {
  margin-bottom: 2px;
}

.menu-body h4 {
  margin-bottom: 0px;
}

.justify {
  text-align: justify;
}

/* :::: Tables :::: */

.th,
th {
  text-align: center;
  color: #FFA34F;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #006699;
  background-image: url('./images/cellpic3.gif');
  white-space: nowrap;
  padding: 7px 5px;
}

td {
  padding: 2px;
}

td.profile {
  padding: 4px;
}

/* :::: Links :::: */

a:link {
  color: #006597;
  text-decoration: none;
}

a:visited {
  color: #005784;
  text-decoration: none;
}

a:hover {
  color: #D46400;
  text-decoration: underline;
}

a:active {
  color: #005784;
  text-decoration: none;
}

.text-link {
  color: #006597;
  cursor: pointer;
}

.text-link:hover {
  color: #D46400;
}

.text-link:active {
  color: #005784;
}

[collapsed="true"] {
  display: none;
}

.hightlight {
  background-color: rgb(200, 222, 234);
  border: 1px solid rgba(36, 30, 30, 0.2);
}
